<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="noindex,nofollow" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ css_file }}" media="screen, projection" />
  </head>
  <body>
    <div id="kf_content">
      
