</div>      
    <div id="kf_footer">
      The <a href="https://kit2.phpmanufaktur.de" target="_blank">kitFramework</a> is created by <a href="http://phpmanufaktur.de" target="_blank">phpManufaktur</a> and build on the shoulders of <a href="http://silex.symfony.com" target="_blank">SILEX</a>.
    </div>
  </body>
</html>

