<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="noindex,nofollow" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ css_file }}" media="screen, projection" />
  </head>
  <body>
    <div id="kf_content">
      {{ content }}
    </div>      
    <div id="kf_footer">
      The <a href="https://kit2.phpmanufaktur.de" target="_blank">kitFramework</a> is created by <a href="http://phpmanufaktur.de" target="_blank">phpManufaktur</a> and build on the shoulders of <a href="http://silex.symfony.com" target="_blank">SILEX</a>.
    </div>
  </body>
</html>

