<div class="login_container">
  <div class="login_form">
    <form action="#" method="post">
      {{ form_widget(form) }}
      <div class="form_submit">  
        <input type="submit" name="submit" value="{{ 'Login'|trans }}" />
      </div>
    </form>
  </div>
  <div class="login_logo">
  </div>
  <div class="clear"></div>
  <div class="login_intro">
    {{ '<p>It seem\'s that this is the first start of the <b>kitFramework</b>.</p><p>To protect the framework you must login with administrator privileges, please use your CMS account for it.</p><p>After login the kitFramework will connect to Github, download additional base components and configure itself.</p>'|trans }}
  </div>
</div>
