{# 
  kitFramework

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki  
  @copyright 2012 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{{ '<p>Hello %name%,<br />you have asked to create a new password for the kitFramework hosted at %server%.</p>'|trans({'%name%': name, '%server%':server}) }}
{{ '<p>Please use the following link to create a new password:<br />%reset_url%</p>'|trans({'%reset_url%':reset_password_url}) }}
{{ '<p>If you have not asked to create a new password, just do nothing. The link above is valid only for 24 hours and your actual password has not changed now.</p>'|trans }}
{{ '<p>Regards<br />Your kitFramework team</p>'|trans }}
