{# 
  kitFramework

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki  
  @copyright 2012 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if usage == 'framework' %}
    {% set template_namespace = '@framework' %}
    {% set template_file = 'body.twig' %}
{% else %}
    {% set template_namespace = '@phpManufaktur/Basic/Template' %}
    {% set template_file = 'backend.body.twig' %}
{% endif %}
{% extends template_file(template_namespace, template_file) %}
{% block title %}{{ 'kitFramework - Welcome'|trans }}{% endblock %}
{% block head %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Basic/Template/default/css/account.css" media="screen, projection" />
{% endblock %}
{% block content %}
  <div class="admin_container">
    {{ 'The welcome dialog is not implemented yet!'|trans }}
  </div>
{% endblock %}
